/*
Import de fichiers CSS
/!\ ATTENTION /!\
les instructions d'import de fichiers CSS doivent IMPÉRATIVEMENT ÊTRE DÉCLARÉES DANS LES PREMIÈRES LIGNE CSS HORS COMMENTAIRE
*/
@import url("./FIGHTT3.css");
@import url("./carousel.css");
@import url("./grid.css");
@import url("./form.css");
/*
dimensions les plus vues en web :
px      =>  Pixel
em      =>  cadratin : unité de mesure en print sur les presses
            le cadratin se calcul par rapport à son parent
rem     =>  cadratin racine : se calcul par rapport à la taille racine de police
%       =>  pourcentage, se calcule par rapport à l'élément qui le contient
vw & vh =>  viewport width & viewport height : correspond à la taille 
            d'affichage de la page en largeur et en hauteur
            si affichage en largeur 768px alors 20vw = 153.6 px

si 2em = 32 px, 1em = 16px

*/
/*
Le root permet de surcharger le css du navigateur avant qu'il soit interprété
Il permet aussi de déclarer des varaibles (tailles de police, couleurs du site), afin de faciliter la maintenance et les changements
*/
/* le root */
:root {
  font-family: Arial, Helvetica, sans-serif;
  --font-size: 1.2rem;
  font-size: var(--font-size);
  --gutter: 0.5rem;
  --line-height: calc(var(--font-size) * 1.3);
  line-height: var(--line-height);
  scroll-behavior: smooth;
  --main-site-bg-color: rgba(242, 242, 242, 1);
  --main-site-bg-color-50: rgba(242, 242, 242, 0.5);
  --header-bg-val: 51, 51, 51;
  --header-bg-color: rgb(var(--header-bg-val));
  --header-bg-color-50: rgba(var(--header-bg-val), 0.5);
  --header-color: rgba(242, 242, 242, 1);
  --nav-link-color: #d99e30;
  --main-link-color: darkred;
  /* couleurs de fond informatives */
  --info-bg-color: #b4d0e8;
  --danger-bg-color: #f1aeb5;
  --success-bg-color: #a3cfbb;
  --warning-bg-color: #f1d3ae;
  /* couleurs de bordure informatives */
  --info-border-color: #1583e3;
  --danger-border-color: #ea2a3d;
  --success-border-color: #07ca73;
  --warning-border-color: #ec8a12;
  /* couleurs de fond neutres */
  --light-bg-color: #dddddd;
  --dark-bg-color: #454545;
  /* couleurs de bordure neutres */
  --light-border-color: #666666;
  --dark-border-color: black;
  --dark-color: white;
}

/* déclarations générales */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.site-title,
h1,
h2 {
  font-family: "FIGHTT3";
  font-weight: normal;
}

a {
  color: var(--main-link-color);
  text-decoration: none;
}

/* déclarations de classe */

.site-title {
  font-size: 3rem;
}

.conteneur {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.img-fluid {
  max-width: 100%;
}

.vignette,
.miniature {
  width: 100px;
  height: 100px;
}

.vignette {
  object-fit: cover;
  /* Object-position permet de choisir la position du cover de l'image */
  /*object-position: left top;*/
}

.miniature {
  object-fit: contain;
  background-color: black;
}

.table-responsive {
  overflow-x: auto;
}

.table-bordered td,
.table-bordered th {
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

table.table {
  border-collapse: collapse;
  width: 100%;
}

table.table tr {
  border-bottom: 1px solid lightgrey;
}

table.table th,
table.table td {
  padding: calc(var(--gutter) / 2);
}

.video {
  position: relative;
  height: 0;
  overflow: hidden;
  margin: 0;
}

.video > * {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  border: none;
}

.video-16-9 {
  padding-bottom: 56.25%;
}

.video-max-width-300 {
  max-width: 300px;
}

.video-4-3 {
  padding-bottom: 75%;
}

.hidden{
  display: none;
}

.message, .btn{
  margin: calc( var(--gutter) / 2);
  padding: calc( var(--gutter) / 2);
  font-size: 0.9rem;
  border-radius: calc( var(--gutter) / 2);
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
}

.message-info, .btn-info{
  background-color: var(--info-bg-color);
  border-color: var(--info-border-color);
}

.message-success, .btn-success{
  background-color: var(--success-bg-color);
  border-color: var(--success-border-color);
}

.message-warning, .btn-warning{
  background-color: var(--warning-bg-color);
  border-color: var(--warning-border-color);
}

.message-danger, .btn-danger{
  background-color: var(--danger-bg-color);
  border-color: var(--danger-border-color);
}

.message-light, .btn-light{
  background-color: var(--light-bg-color);
  border-color: var(--light-border-color);
}

.message-dark, .btn-dark{
  background-color: var(--dark-bg-color);
  border-color: var(--dark-border-color);
  color: var(--dark-color);
}


/* déclarations de structure */

body {
  margin: 0;
  background-color: var(--main-site-bg-color);
}

body > header,
body > footer {
  background-color: var(--header-bg-color);
  padding: var(--gutter);
  color: var(--header-color);
}

body > footer ul {
  list-style-type: none;
  padding: 0;
}

body > nav {
  background-color: var(--header-bg-color);
}

body > nav ul {
  margin: 0;
  color: var(--header-color);
  list-style-type: none;
  padding: 0;
}

body > nav ul li:not(body > nav ul li:last-child) {
  border-bottom: 1px solid var(--nav-link-color);
}

body > nav ul a,
body > nav ul a:visited,
body > footer a,
body > footer a:visited {
  color: var(--nav-link-color);
  text-decoration: none;
  display: block;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

body > nav ul a:hover,
body > nav ul a:focus,
body > nav ul a:focus-visible {
  outline: none;
  color: var(--header-bg-color);
  background-color: var(--nav-link-color);
}

main > header,
main > aside,
section article {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

@media print {
  body > nav,
  body > footer {
    display: none;
  }

  @page {
    size: landscape;
    padding: 1cm;
  }
}

@media screen and (min-width: 576px) {
  .conteneur {
    width: 540px;
  }

  body > nav > ul {
    display: flex;
    flex-wrap: wrap;
  }

  body > nav ul li:not(body > nav ul li:last-child) {
    border-right: 1px solid var(--nav-link-color);
    border-bottom: unset;
  }
}

@media screen and (min-width: 768px) {
  .conteneur {
    width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .conteneur {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .conteneur {
    width: 1140px;
  }

  main aside nav > ol {
    column-count: 2;
  }

  main section {
    display: flex;
    flex-wrap: wrap;
  }

  main article {
    width: 50%;
  }
}
@media screen and (min-width: 1400px) {
  .conteneur {
    width: 1340px;
  }

  main aside nav > ol {
    column-count: 3;
  }

  main article {
    width: calc(100% / 3);
  }
}
